In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.feature_extraction.text import CountVectorizer
import nltk 
import string
import re
%matplotlib inline

In [ ]:
xlsx = pd.ExcelFile('depressed.xlsx')

In [ ]:
data = pd.read_excel(xlsx, 'RapidMiner Data',header=0)
data

              Created-At  ...                   Id
0    2021-10-03 23:00:33  ...  1444693864275709958
1    2021-10-04 07:24:12  ...  1444820612988522496
2    2021-10-05 08:43:45  ...  1445203019553861633
3    2021-10-05 10:39:36  ...  1445232173934469125
4    2021-10-05 10:39:35  ...  1445232173095731204
...                  ...  ...                  ...
1986 2021-10-03 23:00:00  ...  1444693726681575425
1987 2021-10-03 23:00:00  ...  1444693726677372941
1988 2021-10-03 23:00:00  ...  1444693726673072134
1989 2021-10-03 23:00:00  ...  1444693726643822597
1990 2021-10-03 23:00:00  ...  1444693726614466568

[1991 rows x 12 columns]

## Exploratory Data Anaysis: EDA

In [ ]:
# Drop unrelated columns
data = data.drop(['Created-At','Id','From-User', 'From-User-Id', 'Language', 'To-User', 'To-User-Id', 'Source', 'Geo-Location-Latitude', 'Geo-Location-Longitude','Retweet-Count'], axis=1)

In [ ]:
data.head()

                                                Text
0  How it started vs. how it’s going\n\nHappy ann...
1  Who else would LOVE to see the media relentles...
2  TAEIL of NCT & rapper Lil Boi to feature in Ra...
3  RT @chartdata: All of @BTS_twt's Hot 100 #1’s:...
4  RT @AdamsCumbie: I love this! ?????? https://t...

In [ ]:
print('Data size: ', data.shape)
print('Columns: ', data.columns)

Data size:  (1991, 1)
Columns:  Index(['Text'], dtype='object')

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1991 entries, 1444693864275709958 to 1444693726614466568
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Created-At  1991 non-null   datetime64[ns]
 1   Text        1991 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 46.7+ KB

## Data Preprocessing

In [ ]:
# Find and drop duplicated data
data.Text.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1986    False
1987    False
1988     True
1989    False
1990    False
Name: Text, Length: 1991, dtype: bool

In [ ]:
data.Text.duplicated().sum()

425

In [ ]:
(~data.Text.duplicated()).sum()

1566

In [ ]:
data.drop_duplicates(inplace=True, subset='Text', keep='last')

In [ ]:
data

                                                   Text
0     How it started vs. how it’s going\n\nHappy ann...
1     Who else would LOVE to see the media relentles...
2     TAEIL of NCT & rapper Lil Boi to feature in Ra...
3     RT @chartdata: All of @BTS_twt's Hot 100 #1’s:...
4     RT @AdamsCumbie: I love this! ?????? https://t...
...                                                 ...
1986  Will Tiffany and Charles be able to save their...
1987  RT @JoelOsteen: I love the fact that Jesus bro...
1988  RT @joe_txtmoa: Bighit is no longer holding ba...
1989          love love love ?? https://t.co/bdULnKntMC
1990  Happy birthday to the most beautiful man I hav...

[1566 rows x 1 columns]

In [ ]:
data.reset_index(drop=True,inplace=True)

In [ ]:
list1 = []

for i in data.loc[:,'Text']:
  t1 = " ".join(filter(lambda x:x[0]!= '@', i.split()))
  t2 = " ".join(filter(lambda x:x[0]!= '#', t1.split()))
  t3 = re.sub(r"http\S+", "", t2)
  text = t3.replace('RT','')
  list1.append(text)

In [ ]:
print(type(text))

<class 'str'>

In [ ]:
df = pd.DataFrame(list1)

In [ ]:
df

                                                      0
0     How it started vs. how it’s going Happy annive...
1     Who else would LOVE to see the media relentles...
2     TAEIL of NCT & rapper Lil Boi to feature in Ra...
3      All of Hot 100 Dynamite Savage Love (Laxed - ...
4                                  I love this! ??????
...                                                 ...
1561  Will Tiffany and Charles be able to save their...
1562   I love the fact that Jesus broke the rules to...
1563   Bighit is no longer holding back!!! Theyre fl...
1564                                 love love love ??
1565  Happy birthday to the most beautiful man I hav...

[1566 rows x 1 columns]

In [ ]:
data

                                                   Text
0     How it started vs. how it’s going\n\nHappy ann...
1     Who else would LOVE to see the media relentles...
2     TAEIL of NCT & rapper Lil Boi to feature in Ra...
3     RT @chartdata: All of @BTS_twt's Hot 100 #1’s:...
4     RT @AdamsCumbie: I love this! ?????? https://t...
...                                                 ...
1561  Will Tiffany and Charles be able to save their...
1562  RT @JoelOsteen: I love the fact that Jesus bro...
1563  RT @joe_txtmoa: Bighit is no longer holding ba...
1564          love love love ?? https://t.co/bdULnKntMC
1565  Happy birthday to the most beautiful man I hav...

[1566 rows x 1 columns]

In [ ]:
dataframe = pd.concat([data, df], ignore_index= True, axis= 1)

In [ ]:
dataframe[1]

0       How it started vs. how it’s going Happy annive...
1       Who else would LOVE to see the media relentles...
2       TAEIL of NCT & rapper Lil Boi to feature in Ra...
3        All of Hot 100 Dynamite Savage Love (Laxed - ...
4                                    I love this! ??????
                              ...
1561    Will Tiffany and Charles be able to save their...
1562     I love the fact that Jesus broke the rules to...
1563     Bighit is no longer holding back!!! Theyre fl...
1564                                   love love love ??
1565    Happy birthday to the most beautiful man I hav...
Name: 1, Length: 1566, dtype: object

In [ ]:
dataframe.rename(columns={0: 'text', 1: 'text_clean'}, inplace= True)

In [ ]:
dataframe['text_clean']

0       How it started vs. how it’s going Happy annive...
1       Who else would LOVE to see the media relentles...
2       TAEIL of NCT & rapper Lil Boi to feature in Ra...
3        All of Hot 100 Dynamite Savage Love (Laxed - ...
4                                    I love this! ??????
                              ...
1561    Will Tiffany and Charles be able to save their...
1562     I love the fact that Jesus broke the rules to...
1563     Bighit is no longer holding back!!! Theyre fl...
1564                                   love love love ??
1565    Happy birthday to the most beautiful man I hav...
Name: text_clean, Length: 1566, dtype: object

In [ ]:
dataframe['text_clean'].str.extractall(r'(\#\w+)')[0].value_counts()

#HappyOctoberBirthday    1
#lovemeharder            1
#JOSHUA                  1
#Chihuly                 1
#Likee                   1
#ForceFactor             1
#EmmaRose                1
#GirlsPlanet999          1
#glutenfree              1
Name: 0, dtype: int64

#### Remove punctuations

In [ ]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def drop_punctuation(text):
    text = ''.join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', '', text)
    
    return text

In [ ]:
dataframe['Text_punct'] = dataframe['text_clean'].apply(lambda i: drop_punctuation(i))
dataframe.head()

                                                text  ...                                         Text_punct
0  How it started vs. how it’s going\n\nHappy ann...  ...  How it started vs how it’s going Happy anniver...
1  Who else would LOVE to see the media relentles...  ...  Who else would LOVE to see the media relentles...
2  TAEIL of NCT & rapper Lil Boi to feature in Ra...  ...  TAEIL of NCT  rapper Lil Boi to feature in Rai...
3  RT @chartdata: All of @BTS_twt's Hot 100 #1’s:...  ...   All of Hot  Dynamite Savage Love Laxed  Siren...
4  RT @AdamsCumbie: I love this! ?????? https://t...  ...                                      I love this

[5 rows x 3 columns]

#### Tokenization - Converting a sentence into list of words

In [ ]:
def token(text):
    text = re.split('\W+', text)
    return text

In [ ]:
dataframe['Text_token'] = dataframe['Text_punct'].apply(lambda i: token(i.lower()))
dataframe.head()

                                                text  ...                                         Text_token
0  How it started vs. how it’s going\n\nHappy ann...  ...  [how, it, started, vs, how, it, s, going, happ...
1  Who else would LOVE to see the media relentles...  ...  [who, else, would, love, to, see, the, media, ...
2  TAEIL of NCT & rapper Lil Boi to feature in Ra...  ...  [taeil, of, nct, rapper, lil, boi, to, feature...
3  RT @chartdata: All of @BTS_twt's Hot 100 #1’s:...  ...  [, all, of, hot, dynamite, savage, love, laxed...
4  RT @AdamsCumbie: I love this! ?????? https://t...  ...                                [, i, love, this, ]

[5 rows x 4 columns]

#### Remove stopwords

In [ ]:
import nltk
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
stopword = nltk.corpus.stopwords.words('english')
stopword

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
def remove_stopwords(text):
    text = [word for word in text if word not in stopword]
    return text

In [ ]:
dataframe['Text_stopword'] = dataframe['Text_token'].apply(lambda i: remove_stopwords(i))
dataframe.head()

                                                text  ...                                      Text_stopword
0  How it started vs. how it’s going\n\nHappy ann...  ...  [started, vs, going, happy, anniversary, barac...
1  Who else would LOVE to see the media relentles...  ...  [else, would, love, see, media, relentlessly, ...
2  TAEIL of NCT & rapper Lil Boi to feature in Ra...  ...  [taeil, nct, rapper, lil, boi, feature, raiden...
3  RT @chartdata: All of @BTS_twt's Hot 100 #1’s:...  ...  [, hot, dynamite, savage, love, laxed, siren, ...
4  RT @AdamsCumbie: I love this! ?????? https://t...  ...                                         [, love, ]

[5 rows x 5 columns]

#### Lammatization/ Stemming - Tranforming any form of a word to its root word

In [ ]:
poster = nltk.PorterStemmer()

In [ ]:
def stemming(text):
    text = [poster.stem(word) for word in text]
    return text

In [ ]:
dataframe['Text_stemming'] = dataframe['Text_stopword'].apply(lambda i: stemming(i))
dataframe.head()

                                                text  ...                                      Text_stemming
0  How it started vs. how it’s going\n\nHappy ann...  ...  [start, vs, go, happi, anniversari, barack, lo...
1  Who else would LOVE to see the media relentles...  ...  [els, would, love, see, media, relentlessli, q...
2  TAEIL of NCT & rapper Lil Boi to feature in Ra...  ...  [taeil, nct, rapper, lil, boi, featur, raiden,...
3  RT @chartdata: All of @BTS_twt's Hot 100 #1’s:...  ...  [, hot, dynamit, savag, love, lax, siren, beat...
4  RT @AdamsCumbie: I love this! ?????? https://t...  ...                                         [, love, ]

[5 rows x 6 columns]

In [ ]:
wordnet = nltk.WordNetLemmatizer()

In [ ]:
def lemmatizer(text):
    text = [wordnet.lemmatize(word) for word in text]
    return text

In [ ]:
dataframe['Text_lammetization'] = dataframe['Text_stopword'].apply(lambda i: lemmatizer(i))
dataframe.head()

                                                text  ...                                 Text_lammetization
0  How it started vs. how it’s going\n\nHappy ann...  ...  [started, v, going, happy, anniversary, barack...
1  Who else would LOVE to see the media relentles...  ...  [else, would, love, see, medium, relentlessly,...
2  TAEIL of NCT & rapper Lil Boi to feature in Ra...  ...  [taeil, nct, rapper, lil, boi, feature, raiden...
3  RT @chartdata: All of @BTS_twt's Hot 100 #1’s:...  ...  [, hot, dynamite, savage, love, laxed, siren, ...
4  RT @AdamsCumbie: I love this! ?????? https://t...  ...                                         [, love, ]

[5 rows x 7 columns]

In [ ]:
def clean_text(text):
    text = "".join([word.lower() for word in text if word not in string.punctuation]) # remove puntuation
    text = re.sub('[0-9]+', '', text)
    text = re.split('\W+', text)    # tokenization
    text = [poster.stem(word) for word in text if word not in stopword]  # remove stopwords and stemming
    text = [wordnet.lemmatize(word) for word in text] #lemmatizer
    return text

In [ ]:
countVectorizer = CountVectorizer(analyzer=clean_text) 
countVector = countVectorizer.fit_transform(dataframe['Text_lammetization'])
print('{} Number of Text has {} words'.format(countVector.shape[0], countVector.shape[1]))
#print(countVectorizer.get_feature_names())

1566 Number of Text has 1425 words

In [ ]:
for i in daraframe.iloc[:, 3]:
  print(i)

In [ ]:
# data.to_csv('data_test.csv')

#### Wordcloud Visualization 
ต้องสร้าง target column ก่อน

In [ ]:
#conda install -c conda-forge wordcloud=1.6.0

In [ ]:
from wordcloud import WordCloud, STOPWORDS , ImageColorGenerator